:root {
  /* CSS HSL */
  --mint-green: hsla(167, 100%, 92%, 1);
  --russian-violet: hsla(253, 57%, 20%, 1);
  --turquoise: hsla(173, 55%, 55%, 1);
  --ucla-blue: hsla(204, 66%, 40%, 1);
  --light-red: hsla(0, 100%, 76%, 1);

  /* linear gradient */
  --bg-gradient: linear-gradient(
    90deg,
    hsl(170, 100%, 70%) 0%,
    hsl(165, 100%, 50%) 52%,
    hsl(152, 74%, 63%) 100%
  );
  --reverse-bg-gradient: linear-gradient(
    90deg,
    hsl(152, 74%, 63%) 0%,
    hsl(165, 100%, 50%) 52%,
    hsl(170, 100%, 70%) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}
@font-face {
  font-family: karminaRegular;
  src: url("./fonts/Karmina\ Regular.woff2"), format("woff2"),
    url("./fonts/Karmina\ Regular.woff") format("woff");
}
body {
  font-family: karminaRagular, sans-serif;
  background: var(--mint-green);
  color: var(--russian-violet);
  overflow-x: hidden;
}
.extra-para {
  min-height: 30rem;
  background: var(--bg-gradient);
}
h4 {
  font-size: clamp(0.5rem, 2.5vw, 2rem);
}
.bg-blur {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 1;
  z-index: 1;
  background-image: var(--bg-gradient);
  backdrop-filter: blur(100px);
}
.loading-gif {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  z-index: 2;
}
.input-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -25rem;
}
.input-field {
  position: relative;
}
#dictionary-input {
  height: 3rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.01)
  );
  border: none;
  width: 30%;
  min-width: 400px;
  border-radius: 1.5rem;
  color: var(--russian-violet);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-style: italic;
  font-weight: 300;
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.2),
    0 5px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.input-button {
  position: absolute;
  top: 15%;
  right: 3%;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgba(0, 255, 241, 0.7) 0%,
    rgba(0, 255, 241, 1) 100%
  );
  color: var(--russian-violet);
}
hr {
  border: 1px solid var(--turquoise);
}
.input-button:hover {
  outline: 1px solid var(--turquoise);
  transition: 0.3s ease-out;
}
/* showing container */

.text-bg {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.output-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#showName,
#showPhoneTicName {
  padding: 0.75rem 1rem;
  background-color: #00cd82;
  border-radius: 1rem;
  font-size: 1.4rem;
}
#showPhoneTicName {
  background-color: rgb(91, 91, 192);
  color: whitesmoke;
}
hr {
  margin: 1rem 0;
}
.container {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
}
#showPartOfSpeechDiv {
  padding: 2rem;
  background-color: rgb(234, 229, 229);
  border-radius: 2rem;
  box-shadow: 0 0 30px #ada6a6;
}
.aaa {
  /* background-color: red; */
  padding-left: 1rem;
  margin-top: 0.4rem;
  font-size: 1.25rem;
}
.aaaa {
  background-color: rgb(245, 240, 240);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
}
.newDiv,
.newDivTwo {
  font-size: 1.25rem;
}
.newDivTwo {
  margin-bottom: 1rem;
}
.antonym-class,
.synonym-class {
  margin-block: 1rem;
  background-color: #00cd82;
}
/* play button design */
.phonetics-audio-container {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.phonetics-audio {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#playAudioIcon {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(185, 225, 150);
  overflow: hidden;
}
@media (max-width: 650px) {
  .title-dictionary {
    display: none;
  }
  .container {
    max-width: 90%;
  }
  #dictionary-input {
    width: 30%;
    min-width: 300px;
    backdrop-filter: blur(0);
  }
  h4 {
    font-size: 1rem !important;
  }
}
